<h1
  style="
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 0px;
  "
>
  Create Artist Form
</h1>
<form
  style="
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
  "
  action=""
  method="post"
>
  {% csrf_token %}
  <div style="color: red; font-size: larger">{{form.errors}}</div>
  {% for data in form %}
  <div style="margin: 10px">{{data.label_tag}} {{data}}</div>
  {% endfor %}
  <span>Submit form:</span>
  <input style="width: 170px" type="submit" value="submit" />
</form>
