<div style="background-color: black; padding: 10px">
  <h1
    style="
      background-color: black;
      color: white;
      text-align: center;
      padding: 10px;
      margin: 0px;
    "
  >
    List of Artists
  </h1>
  <p style="color: white; margin: 0px; padding: 0px">Artists:</p>
  <ul style="color: white; margin: 0px; padding: 0px">
    {%for Artist in query_set%}
    <li>id: {{Artist.id}}</li>
    <li>Stage name: {{Artist.stage_name}}</li>
    <li>Social: {{Artist.social_link_field}}</li>
    <li>Albums:</li>
    <ul>
      {% for Album in Artist.album_set.all %}
      <li>id: {{Album.id}}</li>
      <li>Name: {{Album.name}}</li>
      <li>Creation Time: {{Album.creation_datetime}}</li>
      <li>Release datetime: {{Album.release_datetime}}</li>
      <li>Cost: {{Album.cost}}</li>
      <hr />
      {%endfor%}
    </ul>
    <hr />
    {% endfor %} {% csrf_token %}
  </ul>
</div>
